*{
	font-family: sans-serif;
	overflow: visible !important;
}
body{
	width: 100%;
	padding: 0;
	margin: auto;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
 }
#navbar{
  position: relative;
  background: #f4f4f4;
  height: 100px !important;
}
.navbar-header a img{
  padding:30px;
}
.navbar-default .navbar-nav>li>a {
    color: #707070 !important;
}
.navbar-toggle {
    border: none !important;    
}
.navbar {
    position: relative;
	height: 100px !important;
    min-height: 50px;
    margin-bottom: 0px !important; 
	border: 0px !important;
}
#navbar .nav li{
	margin-right:10px;
	padding: 27px 0px;
}
#navbar .nav li:first-child{	
	padding: 20px 0px;
}
#navbar .nav li a:hover{
	opacity: .8;
	color:#000;
}

.navbar-default {
    background-color: #fff !important;
    border-color: #fff !important;
}
.navbar-toggle {
    margin-top: 35px !important;
    border: none !important;
}
/* Carousel*/
.carousel{
	margin-top: 100px;
}
.carousel-indicators .active {
    background-color: #2980b9;
}
.carousel-inner item{
    width: 100%;
	height: 750px;
}
.carousel-control {
    width: 0;
}
.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}
.carousel-control.left span {
	padding: 15px;
}
.carousel-control.right span {
	padding: 15px;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
}
.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}
/*
.nav{
	background: #fff;
	width: 100%;
	position: sticky;
	display: flex;	
	top: 0px;	
	overflow: visible;
}
.nav ul {
    list-style-type: none;
	margin: 0;
    padding: 40px 0px;
    overflow: hidden;
    background-color: #fff;
}
.nav li a {
	display: block;
	margin-top: 4px;
    color: #707070;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
	}
.nav li {
    float: left;
    }
.nav li:first-child {
	padding-right: 100px;
	padding-left: 80px;
    font-size: 17px !important;
	}
*/
.dropdown-content {
    display: none;
    position: absolute;
	width: 100px;
	background-color: #fff;
    z-index: 1;
}
.dropdown-content a {
    color: black;
	background: #f4f4f4;
    padding: 20px 16px;
	font-size: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
	overflow: visible;
}
.main-body{
	margin: 0 auto;
}
.clear{
	clear: both;
}

.main-body img{
	width: 100%;
	height: 750px;
}
.main-body .text-block{
	width: 70%;
	padding: 94px 0px;
	font-size: 22px;
	line-height: 1.5;
	text-align: center;
	margin: auto;
	}

.main-body .floating{
	padding: 96px 0px;	
}

/*
.main-body .floating-box{
	display: inline-block;
    width: 31.2%;
    margin: 10px;
	}
*/
.main-body .floating-box img{
	width: 100%;
	height: 200px;
}
.main-body .floating-box h4{
	color:#3a3a3a;
	font-size: 17px;
	font-weight: 600;
	padding: 0px !important;
}
.main-body .floating-box p{
	font-size: 14px;
	line-height: 1.5;
	color: #4a4a4a;
	padding: 14px 0px;
}
.main-body .floating-box .button{
	width: 130px;
	padding: 13px;
    border: 2px solid #707070;
	text-align: center;
	font-size: 13px;
	border-radius: 5px;
}
.main-body .social{
	padding: 38px;
	text-align: center;
	}
.main-body .social li{
	list-style-type: none;	
	display: inline;
}
.main-body .social li img{
	width: 30px;
	height: auto;
	padding: 0px 3px;
}
.main-body .social li img:hover{
	opacity: .3;
}
.footer{
	position: relative;
	display: flex;
	padding: 50px 72px;
}
.footer p{
	font-size: 12px;
	color: #202020;
}
.footer img{
	width: 150px;
	height: 35px;
	position: absolute;
	right: 72px;
}
hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
 }
ol, ul {
    margin-bottom: 0px !important;
	padding-left: 0px !important;
}
@media only screen and (max-width: 768px) {
#navbar .nav li{
	margin-right:0px !important;
	padding: 0px 0px;
	background: #fff;
}
.main-body .floating {
    padding: 30px 0px;
}
.col-xs-12{
	padding-bottom: 30px;
}
.main-body .text-block {
    width: 90%;
    padding: 30px 0px;
    font-size: 1em;
    }
.footer {
    position: relative;
    display: block;
    text-align: center;
    padding: 20px 20px;
}
.footer img {
	position: inherit !important;
    right: 0px !important;
    text-align: center;
}
}